.timer {
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: #515151;
  border-radius: 60px;

  padding: 155px 20px;
  margin-top: 200px;

  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;

  height: 170px;
  width: 250px;
  padding: 15px;
  background-color: #69808af3;
}

.field:not(:last-child) {
  margin-right: 60px;
}

.value {
  color: #ffffff;
  font-size: 70px;
}

.label {
  color: black;
  font-size: 50px;
}
